@model MariosSpeciality.Models.Review

@{
    ViewData["Title"] = "Create";
    var productId = ViewBag.ProductId;
}

<h1>Create</h1>
@using (Html.BeginForm("Create", "Reviews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>Review</h2><hr />
    <div class="form-horizontal">
        <div class="form-group">
            <input type="hidden" name="ProductId" value="@ViewBag.ProductId" />
             @Html.LabelFor(model => model.Author, new { @class = "col-md-2 label-control" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Author, null, new { @class = "text-danger" })


            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContentBody, new { @class = "col-md-2 label-control" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.ContentBody, new { @class = "form-control", @rows = 10 })
                @Html.ValidationMessageFor(m => m.ContentBody, null, new { @class = "text-danger" })



            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Rating, new { @class = "col-md-2 label-control" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Rating, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Rating, null, new { @class = "text-danger" })



            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AuthorImg, new { @class = "col-md-2 label-control" })

            <div class="col-md-6">
                <input type="file" id="files" name="files" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <input type="submit" value="Create" formmethod="post" class="btn btn-lg btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    <a href="@Url.Action("RedirectToProduct", new { productId = productId } )" class="btn btn-lg btn-default">
        <i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i>
        <span>Back to product</span>
    </a>
</div>

