@model IEnumerable<MariosSpeciality.Models.Review>

@{ 
//Layout = null;
}

@if (Model == null)
{
    <h1>@ViewBag.NotFound</h1>
    <img src="~/images/Web-under-construction.jpg" style="height: 700px; widows: 1000px;" />

}
else
{
    <h1>Reviews <span class="badge">@Model.Count()</span></h1>

    foreach (var review in Model)
    {
                @if (review.AuthorImg != null)
                {
                    <a target="_blank" href="@Url.Action("Details", new { id = review.ReviewId})">
                      <h4>@review.Author: @review.PostedDate</h4>
                        <h1>@review.ContentBody.Substring(0, 100)...</h1>
                    </a>
                    <br />
                }
                <br /><br />
            @*<div class="col-md-8">
                <div class="card-block">
                    <h3><em>@review.reviewDate.ToString("MM/dd/yyy")</em></h3>
                    <h1><em>By: @review.User.FirstName @review.User.LastName</em></h1>
                    <a href="@Url.Action("Details", new { id = review.reviewId})"><h2 class="reviewTitle" class="card-title">@review.reviewTitle</h2></a>
                </div>
                <div class="card-block">
                    <h1>@review.reviewContent.Substring(0, 150)...</h1>
                </div>
            </div>*@

    }
}
